

.comparison-grid {
  @apply p-6 grid;
  grid-template-columns: 1fr;

  & .details__name {
    @apply bg-tertiary-text h-10 flex justify-center items-center flex-nowrap;
    & h4 {
      @apply text-xs;
      @apply md:text-sm;
    }
  }

  & div.details__checks_yes {
    & svg {
      @apply h-7 w-7 text-secondary-brand;
    }
  }

  & div.details__checks_no {
    & svg {
      @apply h-7 w-7 text-tertiary-text;
    }
  }

  & .comparison-grid__titles {
    @apply grid absolute bg-white z-10;
    grid-template-columns: 100px 50px;
    @apply lg:grid-cols-2 md:relative;

    & .titles__details {
      @apply font-text text-xxs;
      @apply md:text-xs;
      & div {
        @apply h-10 flex justify-start items-center;
      }
    }

    & .titles__icons {
      & div {
        @apply h-10 flex justify-center;
        & svg {
          @apply h-4 w-4 self-center;
        }
      }
    }
  }

  & .comparison-grid__content {
    @apply grid overflow-x-scroll ml-36;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    @apply md:grid-cols-3 md:ml-0;

    & .content__details {
      @apply text-center;

      & div {
        @apply h-10;
      }
    }

    & .content__details_launch {
      @apply font-bold;
      & div {
        @apply h-10 flex justify-center items-center;
      }
    }
  }
}

@screen md {
  .comparison-grid {
    grid-template-columns: 1fr 3fr;

    & .comparison-grid__titles {
      grid-template-columns: 130px 50px;
    }
  }
}