@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../../../theme/typography/typography.css";

/* @tailwind utilities; */

body.body_launch {
  margin: 0;
  @apply w-full max-w-full font-text;
}

.main-content {
  @apply pt-20 lg:pt-24 justify-center;
}

.constrained-container {
  @apply lg:max-w-screen-xl mx-auto px-4 lg:px-0;
}

.breadcrumbs {
  @apply text-purple capitalize;

  & li a {
    @apply hover:underline
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
