@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply bg-green-800;
  @apply font-extrabold;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
