@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import '../../../theme/typography/typography.css';

/* @tailwind utilities; */

body {
  margin: 0;
  @apply w-full max-w-full;
}

.main-content {
  @apply pt-12 justify-center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
