.blog {
  & .blog__meta-details {
    @apply self-center;
  }

  & .blog__social-shares {
    @apply col-span-3 inline-flex justify-self-start my-2 md:my-0 md:justify-end items-center md:justify-self-end md:pr-32 flex-grow;
    & button {
      @apply rounded-full bg-primary-brand bg-opacity-10 p-2 mr-2 leading-none !important;
      &:last-child {
        @apply mr-0;
      }

      & svg {
        @apply w-5 h-5 text-primary-brand !important;
      }
    }
  }

  & .blog__content_legacy {
    & h1 {
      @apply text-xl;
      @apply lg:text-5xl lg:my-4;
      font-weight: 700;
      line-height: 2.66rem;
    }

    & h2 {
      @apply text-base;
      @apply lg:text-3xl lg:my-2;
      font-weight: 700;
    }

    & h3 {
      @apply text-sm;
      @apply lg:text-xl lg:my-1;
      line-height: 1.66rem;
      font-weight: 400;
    }

    & > div > span {
      @apply block my-4;
    }
  }

  & .blog__context {
    @apply flex gap-x-2 flex-wrap my-2 align-middle;

    & .profile__image {
      @apply col-span-1 rounded-full flex justify-self-start;
      @apply object-cover h-12 w-12;

      & img {
        @apply rounded-full;
      }
    }

    & .blog__author-name {
      @apply font-bold;
      text-transform: uppercase;
    }
  }

  & .blog__content {
    & img {
      @apply w-full mb-8;
    }
    & p {
      @apply mb-5;
    }
  }

  & .blog__tag-container {
    @apply text-left w-full;

    & h6 {
      @apply font-bold;
    }
    & .tag-container__tags {
      @apply w-full mt-3;
      & li {
        @apply mx-2 inline-block;

        & .button.button_size_sm {
          @apply text-xxs px-2 whitespace-nowrap;
        }
      }
    }
  }
}

.blog-index__tags {
  @apply max-w-screen-xl mx-auto;
  & .tag-container__tags {
    @apply my-8;

    & li {
      @apply inline-block m-2;

      & .button.button_size_sm {
        @apply text-xxs px-2;
      }
    }
  }

}
