.banner {
  @apply lg:grid lg:grid-cols-2;
}

.banner__title {
  @apply text-white mb-1 z-20 relative;
  @apply lg:mb-4 lg:text-6xl;
}

.banner_no-photo {
  @apply bg-white text-center pt-5 px-3;
  @apply lg:grid lg:grid-cols-2 lg:text-left;

  & .banner_no-photo__container {
    @apply lg:grid lg:grid-cols-2 lg:px-20;
  }
  
  & .banner_no-photo__title {
    @apply font-headline font-bold text-5xl pb-8 text-black leading-tight;
    @apply lg:col-start-1 lg:px-20;
  }

  & .banner_no-photo__button {
    @apply my-3 flex-nowrap;
  }
}

.banner__photo {
  @apply relative bg-no-repeat bg-cover py-32 text-white text-center mx-auto;
  @apply lg:py-64;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @apply bg-opacity-70 bg-photo-overlay;
  }

  & .banner__content {
    @apply relative;
  }

  &.banner_prose .banner__content {
    @apply px-12 text-left relative;
    @apply md:w-9/12;
    @apply lg:w-7/12 lg:px-0 lg:pl-8;
    @apply xl:w-1/2;

    & .banner__content-container {
      @apply relative;
      &::before {
        content: " ";
        position: absolute;
        @apply bg-purple inline-block rounded-full h-24 w-24 z-0 -top-4;
        @apply lg:h-36 lg:w-36 lg:-top-4 lg:ml-64 lg:-left-24;
      }

      & p {
        @apply ml-16 mr-6 mt-8 z-20 relative text-xs font-headline;
        @apply lg:ml-64 lg:text-3xl lg:mt-0 lg:font-bold;
      }
    }
  }
}
