/* purgecss start ignore */
.banner__title {
  @apply text-white mb-2 z-20 relative;
  @apply lg:mb-4 lg:text-6xl;
}

.banner_no-photo {
  @apply bg-white text-center pt-5 px-3;
  @apply lg:grid lg:grid-cols-2 lg:text-left;

  & .banner_no-photo__container {
    @apply lg:grid lg:grid-cols-2 lg:px-20;
  }

  & .banner_no-photo__title {
    @apply font-headline font-bold text-5xl pb-8 px-3 text-black leading-tight;
    @apply lg:col-start-1 lg:px-20;
  }

  & .banner_no-photo__button {
    @apply my-3 flex-nowrap;
  }
}

@screen lg {
  .banner__photo {
    min-height: 470px;
  }
}

.banner__photo {
  @apply  text-white text-center mx-auto relative z-0 overflow-hidden;

  &::before {
    content: "";
    /* top: 0;
    bottom: 0;
    right: 0;
    left: 0; */
    @apply bg-opacity-70 bg-photo-overlay absolute left-0 top-0 z-10 w-full h-full;
  }

  & .banner__background-photo-wrapper {
    @apply absolute z-0 bg-photo-overlay w-full h-full;
  }

  & .banner__background-photo {
    @apply object-center object-cover overflow-hidden w-full h-full;
  }

  & .banner__content {
    @apply relative py-40 z-20;
  }

  &.banner_prose .banner__content {
    @apply px-12 text-left relative;
    @apply md:w-9/12;
    @apply lg:w-7/12 lg:px-0 lg:pl-32;
    @apply xl:w-1/2;

    & .banner__button-container {
      @apply mt-8 lg:mt-16;
    }

    & .banner__content-container {
      @apply relative;
      &::before {
        content: " ";
        position: absolute;
        @apply bg-purple inline-block rounded-full h-24 w-24 z-0 -top-6;
        @apply lg:-top-4 lg:ml-64 lg:-left-24;
      }

      & p {
        @apply ml-16 mr-6 mt-8 z-20 relative text-xs font-headline;
        @apply lg:ml-64 lg:text-3xl lg:mt-0 lg:font-bold;
      }
    }
  }
}


.banner_device {
  @apply bg-secondary-brand text-center pt-20 mb-96;
  height: 725px;

  & .banner_device__container {
    @apply lg:max-w-screen-xl lg:grid lg:grid-cols-2 lg:mx-auto;

    & .banner__content-container {
      @apply w-full;
      @apply lg:mt-20;
    }

    & .banner_device__title {
      @apply font-headline font-bold text-5xl pb-8 px-3 pt-10 text-black leading-tight text-left;

    }

    & .banner_device__container {
      @apply lg:flex lg:flex-nowrap;

      & div:first-child {
        @apply mb-10;
      }

      & .hero__button-container {
        @apply lg:mr-5;
      }
    }

  & .banner_device__device-container {
    @apply w-full mt-20;
    }
  }
}

@screen lg {
  .banner_device {
    height: 625px;
    @apply pt-20 overflow-hidden w-full mb-20;


    & .banner_device__container {

      & .banner_device__device-container {
        @apply w-full mt-0;
      }
    }
    & .marvel-device.iphone-x .speaker {
      @apply hidden;
    }
  }
}
/* purgecss end ignore */
