.top-bar-navigation {
  @apply flex flex-wrap justify-between items-center;

  & .top-bar-navigation__menu-list__open {
    @apply block;
    flex-basis: 100%;
  }

  & .top-bar-navigation__menu-list__closed {
    @apply lg:block hidden;
  }

  & .navigation-list.navigation-list__top {
    @apply font-bold font-headline;
    @apply lg:flex lg:items-center;

    line-height: 1.11rem;
    font-size: 0.875rem;

    & li {
      @apply py-2 ml-2 block;
      @apply lg:inline-block lg:pr-8 lg:py-0 lg:ml-2;
    }

    & .navigation-list__apply-list-item {
      @apply hidden lg:block;
    }
  }

  & .top-bar-navigation__menu-toggle {
    @apply lg:hidden justify-self-end flex-none;
  }

  & .top-bar-navigation__menu-toggle-button {
    @apply inline-flex items-center justify-center p-2 rounded-md  focus:outline-none focus:ring-2 focus:ring-inset focus:ring-offset-purple;
  }
}
