#storybook-preview-iframe {
  font-size: 18px;
}

body {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  @apply text-black container mx-auto;
}

h1, h2, h3, h4, h5 {
  @apply font-headline;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-black;
}

h1 {
  font-size: 3.33rem;
  line-height: 60px;
  font-weight: 700;
}

h2 {
  font-size: 2.66rem;
  font-weight: 700;
  line-height: 2.66rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.22rem;
  font-weight: 700;
}

h4 {
  font-size: 1.33rem;
  line-height: 1.66rem;
  font-weight: 400;
}

h5 {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 4%;
  line-height: 1.16rem;
}

h6 {
  @apply font-text;
  font-weight: 400;
  line-height: 1.77rem;
  letter-spacing: 4%;
}
