.card-list-container {
  @apply max-w-screen-xl mx-auto text-center z-20;

  & .card-list {
    @apply grid grid-cols-1 gap-4 my-5;
  }

  & .card-list.double-gap,
  & .card-list_large.double-gap,
  & .card-list_medium.double-gap {
    @apply md:gap-x-8;
  }

  & .card-list_medium {
    @apply grid grid-cols-1 gap-4 my-5;
    @apply md:grid md:grid-cols-2 md:gap-x-4 md:gap-y-16;
  }

  & .card-list_large {
    @apply grid grid-cols-1 gap-4 m-5;
    @apply md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-x-4 md:gap-y-16;
  }

  & .card-list_article {
    @apply md:gap-x-8;
  }
}

.card {
  @apply w-full shadow-lg rounded-lg pb-4 mx-auto bg-white relative flex flex-col z-30;

  & .card__header a,
  & .card__time-to-read a {
    @apply hover:underline;
  }

  & .card__photo {
    @apply overflow-hidden h-48 rounded-t-lg w-full;
    @apply border-white hover:border-purple border-solid border-b-4;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  & .card__photo-image {
    @apply object-cover object-center;
  }

  & .card__card-content-container {
    @apply mx-8 flex flex-col flex-grow;
  }

  & .card__header {
    @apply my-3 text-left text-xl leading-6;
  }

  & .card__body {
    @apply my-3 text-left flex-grow;
  }

  & .card__body a {
    @apply text-primary-brand no-underline hover:underline;
  }

  & .card__readmore {
    @apply grid grid-cols-3 bottom-1 my-2;

    & .card__links,
    & .card__time-to-read {
      @apply text-sm;
    }
    & .card__links {
      @apply font-bold text-primary-brand underline text-left col-span-2;
    }

    & .card__time-to-read {
      @apply text-right font-bold;
    }
  }

  & .card__learn-more {
    @apply font-semibold my-5;
    text-decoration: underline;
  }
}

.card.card_article {
}

.card__mobile-tile {
  & .card__photo {
    @apply h-60 bg-gray-cloud;
    @apply md:h-56;

    & .device-mobile__screen {
      @apply md:transform md:scale-75 md:-mt-6;
    }

    & .mobile-device-wrapper {
      & .marvel-device.iphone-x {
        & .notch {
          @apply md:left-4;
          @apply lg:left-9;
        }
      }
    }
  }

  & .project-tile__student-info {
    @apply grid grid-cols-4 pt-4;

    & .student-info__title {
      @apply col-start-2 col-span-3;

      & h4 {
        @apply font-bold;
      }
      & h6 {
        @apply uppercase;
      }
    }

    & .student-info__student-profile {
      @apply col-start-1 col-span-1 rounded-full overflow-hidden w-20 h-20 m-auto ml-5;
      @apply md:w-14 md:h-14;
      @apply lg:w-20 lg:h-20;

      & img {
        @apply w-full h-full object-center object-cover;
      }
      & svg {
        @apply w-full h-full object-center object-cover bg-accent pt-2;
      }
    }
  }
}

.card__desktop-tile {
  & .desktop-device__screen.marvel-device.macbook {
    @apply transform scale-25 -mt-56 -ml-64 pr-5;
    @apply -mt-60;
    margin-left: -21.5rem;
    @apply md:-mt-60 md:-ml-80;
    @apply lg:-mt-60 lg:-ml-80;
  }

  & .card__photo {
    @apply h-60 bg-gold;
    @apply md:h-56;

    &.desktop-device-wrapper {
      & .desktop-device__student-screenshot {
        @apply w-full h-full object-cover object-center;
      }
    }
  }

  & .project-tile__student-info {
    @apply px-4 pt-4;

    & .student-info__title {
      & h4 {
        @apply font-bold;
      }
      & h6 {
        @apply uppercase;
      }
    }

    & .student-info__student-profile {
      @apply rounded-full overflow-hidden w-20 h-20 m-auto ml-5;
      @apply md:w-14 md:h-14;
      @apply lg:w-20 lg:h-20;

      & img {
        @apply w-full h-full object-center object-cover;
      }
      & svg {
        @apply w-full h-full object-center object-cover bg-accent pt-2;
      }
    }
  }
}
